doctype html
html
  head
    title OBS Web Control
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='javascripts/control.js')
    script(src='/js/bootstrap.min.js')
    script(src='/javascripts/flipclock.min.js')
